# Project to Read Toronto Neighbourhoods and prepare the DataFrame

## Read the data from Wikipedia link

In [1]:
import pandas as pd
Newdf = pd.DataFrame(columns=['Postcode', 'Borough', 'Neighbourhood'])

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df=pd.read_html(url, header=0)[0]

## Drop rows where Borough is Not Assigned

In [2]:
df = df[df.Borough != 'Not assigned']

## If Neighbourhood is Not Assigned, change it to its Borough

In [3]:
for ind in df.index: 
    if df['Neighbourhood'][ind]  == 'Not assigned':
        df['Neighbourhood'][ind]  = df['Borough'][ind]

## Sort dataframe by PostCode so that we can process same PostCodes to club their Neighbourhoods

In [4]:
df.sort_values(by='Postcode',inplace = True)

## Club Neighbourhoods for same PostCode and store the results in New Dataframe

In [5]:
Prev_PC = ''
Nbd = ''
NewCount = 0
SamePC_Count = 0
DiffPC_Count = 0

for ind in df.index: 
    
    Curr_PC = df['Postcode'][ind]
    if Prev_PC != '':
        
        if Prev_PC == Curr_PC :
            Nbd = Nbd + ", " + df['Neighbourhood'][ind]
            SamePC_Count = SamePC_Count + 1
        else:
            NewCount = NewCount + 1
            Nbd = df['Neighbourhood'][ind]      
            DiffPC_Count = DiffPC_Count + 1
    else:
        Nbd = df['Neighbourhood'][ind]     
        DiffPC_Count = DiffPC_Count + 1

 
    Newdf.loc[NewCount] = Curr_PC , df['Borough'][ind] , Nbd    
    Prev_PC = df['Postcode'][ind]

    
from IPython.display import display
display(Newdf.head(10))

Newdf.shape

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Port Union, Rouge Hill, Highland Creek
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Golden Mile, Oakridge, Clairlea
8      M1M  Scarborough  Cliffcrest, Scarborough Village West, Cliffside
9      M1N  Scarborough                      Cliffside West, Birch Cliff

(103, 3)

## Read the Geospatial Data from the file

In [7]:
# geodf = pd.read_csv('Geospatial_Coordinates.csv')
    
!wget -q -O 'Geospatial_Coordinates.csv' http://cocl.us/Geospatial_data

In [8]:
geodf = pd.read_csv('Geospatial_Coordinates.csv')

In [9]:
geodf.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [16]:
LonLatdf = pd.concat([Newdf, geodf], axis=1, join='inner')
LonLatdf.drop('Postal Code', axis=1, inplace=True)

In [18]:
LonLatdf.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Port Union, Rouge Hill, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Oakridge, Clairlea",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Scarborough Village West, Cliffside",43.716316,-79.239476
9,M1N,Scarborough,"Cliffside West, Birch Cliff",43.692657,-79.264848